.heroSection {
    background-image: url('../../assets/HeroSection_assets/HeroSectionBanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    margin-top: -100px;
    height: calc(100vh);
}

.heroSectionContainer {
    max-width: 1285px;
    margin: 0 auto;
}

.clubStatsContainer{
    font-size: 16px;
    padding-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
    margin-left: auto;
    width: fit-content;
    text-align: right;
    margin-right: 10px;
}

.clubStat{
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.08);
    padding: 12px 3px 10px;
    backdrop-filter: blur(1px);
}

.clubStat::after{
  content:"";
  position:absolute; inset:0;
  border-radius:inherit;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.35);
  pointer-events:none;
}

.clubStatNumber{
    padding: 6px 12px 5px;
    color: #000;
    background-color: #FFFBF5;
    border-radius: 100px;
}

.clubStatLabel{
    color: #FFFBF5;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
}

.heroSectionContent{
    position: absolute;
    bottom: 80px;
    color: #FFFBF5;
    margin-left: 10px;
    margin-bottom: 40px;
}

.heroSectionTitle{
    font-size: 64px;
    font-weight: 600;
    line-height: 115%;
    font-style: normal;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.heroSectionSubtitle{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 28px;
    max-width: 500px;
}

.heroSectionBtn{
    margin: 10px 24px 0px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #FFFBF5;
}

.ClubBtn{
    padding: 18px 40px;
    font-family: "Fira Code";
    background-color: #0D0F10;
    border: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
}

.BookBtn{
    padding: 17px 40px;
    font-family: "Fira Code";
    background-color: transparent;
    border: 1px solid #FFFBF5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 150%;
}

.BookBtn svg {
    margin-left: 8px;
    transform: translateY(3px);
}

@media (max-width: 768px) {
    .clubStatsContainer{
        display: none;
    }
}

@media (max-width: 555px) {

    .heroSection{
        background-size: 190%;
        background-position-x: 65%; 
        background-position-y: top;
    }

    .heroSectionContent{
        bottom: 40px;
        margin: 10px 20px;
    }
    
    .heroSectionTitle{
        font-size: 32px;
        letter-spacing: -0.16px;
    }

    .heroSectionSubtitle{
        font-size: 15px;
        margin-bottom: 28px;
        max-width: 500px;
    }

    .heroSectionBtn{
        width: 100%;
        margin: 10px 10px 10px 0px;
    }
}