.action-card-section {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 20px);
    padding: 100px 10px;
    gap: 24px;
    color: #fffbf5;
}

.action-card {
    display: flex;
    padding: 5% 6.25%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 24px;
    border: 1.5px solid #fffbf5;
    max-width: calc(50% - 12px);
}

.action-card-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -0.2px;
    text-transform: capitalize;
    max-width: 100%;
    margin-bottom: 12px;
}

.action-card-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 40px;
}

.action-card-button {
    display: flex;
    height: 60px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #FC5A00;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    color: #FFFBF5;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

@media (max-width: 1290px) {
    .action-card-section {
        max-width: 100%;
        padding: 100px 5px;
    }    
}

@media (max-width: 700px) {
    .action-card-section {
        flex-direction: column;
    }    

    .action-card {
        display: flex;
        padding: 40px 32px;
        border-radius: 20px;
        max-width: calc(100% - 12px);
    }

    .action-card-button {
        width: 100%;
        gap: 8px;
        border-radius: 16px;
        background: #FC5A00;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .action-card-title {
        font-size: 24px;
    }

    .action-card-description {
        font-size: 15px;
        margin-bottom: 24px;
    }

    .action-card-button {
        font-size: 15px;
    }
}