.community-section {
    max-width: 1280px;
    padding: 100px 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    color: #FFFBF5;
    margin: 0 auto;
}

.community-section-title {
    display: flex;
    flex-direction: column;
    width: 63%;
    justify-content: space-between;
}

.community-section-title h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.community-section-title-img-container {
    display: flex;
    height: 440px;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
}

.community-section-title-img-container div {
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
}

.community-section-title-img-container :last-child {
    height: 100%;
}

.community-section-img1 {
    background-image: url('../../assets/CommunitySection_assets/img1.jpg');
}

.community-section-img2 {
    background-image: url('../../assets/CommunitySection_assets/img2.png');
}

.community-section-img3 {
    background-image: url('../../assets/CommunitySection_assets/img3.png');
}

.community-section-description {
    width: 30%;
}

.community-section-description h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.community-section-description-img-container {
    height: 218px;
    margin: 40px 0;
    background-image: url('../../assets/CommunitySection_assets/img4.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.community-section-description-stats-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.community-section-description-stats-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 46.8%;
    width: 100%;
}

.community-section-description-stats-item h4{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.community-section-description-stats-item p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

@media (max-width: 1290px) {
    .community-section {
        padding: 60px 20px;
    }

    .community-section-description-stats-container{
        gap: 12px;
    }
}

@media (max-width: 780px) {
    .community-section {
        flex-direction: column;
        gap: 40px;
    }

    .community-section-title {
        width: 100%;
        gap: 40px;
    }

    .community-section-title h2 {
        font-size: 24px;
        letter-spacing: -0.12px;
    }

    .community-section-title-img-container {
        height: 50vw;
        gap: 14px;
    }

    .community-section-description {
        width: 100%;
    }

    .community-section-description h3{
        font-size: 15px;
    }

    .community-section-description-img-container {
        height: 56vw;
        margin: 40px 0;
    }

    .community-section-description-stats-container{
        justify-content: space-between;
        gap: 24px;
    }

    .community-section-description-stats-item {
        margin-bottom: 24px
    }

    .community-section-description-stats-item h4{
        font-size: 24px;
        letter-spacing: -0.12px;
    }
    
    .community-section-description-stats-item p{
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .community-section-description-stats-container{
        gap: 0.029vw;
    }
}