.about-section {
    max-width: 1280px;
    margin: 0 auto;
    color: #FFFBF5;
    padding: 100px 0px;
}

.about-section h3 {
    color: rgba(255, 255, 255, 0.70);
    max-width: 62%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    margin-bottom: 4px;
}

.about-section h2 {
    max-width: 60%;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 73.6px */
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-section-content {
    display: flex;
    justify-content: space-between;
    gap: 7.8%;
}

.about-section-content-banner {
    background-image: url('../../assets/AboutSection_assets/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    flex: 0 0 62%;
    border-radius: 24px;
}

.about-section-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-section-content-text-paragraphs p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 16px;
}

.about-section-content-img {
    background-image: url('../../assets/AboutSection_assets/img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 2.4/3;
    border-radius: 20px;
    width: 60%;
    justify-self: end;
}

@media (max-width: 1290px) {
    .about-section {
        padding: 60px 10px;
    }
}

@media (max-width: 1023px) {
    .about-section-content {
        gap: 4.2%;
    }
}

@media (max-width: 850px) {
    .about-section h3 {
        max-width: 70%;
    }
    
    .about-section h2 {
        max-width: 75%;
    }
}

@media (max-width: 700px) {

    .about-section h2 {
        font-size: 32px;
        letter-spacing: -0.16px;
    }

    .about-section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    .about-section-content-text-paragraphs p {
        font-size: 15px;
    }
}