.day-pass-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0;
    color: #FFFBF5;
}

.day-pass-section h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.day-pass-section-container {
    background-image: url('../../assets/DayPassSection_assets/Banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    gap: 24px;
    align-items: center;
    display: flex;
    align-self: stretch;
    padding: 40px;
    align-items: stretch;
}

.day-pass-section-card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    max-width: 50%;
    backdrop-filter: blur(13px);
}

.day-pass-section-card h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 16px;
}

.day-pass-section-card p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.day-pass-section-card button{
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid #FFFBF5;
    background-color: transparent;
    color: #FFFBF5;
    margin:32px 0 0 0;
    font-size: 16px;
}

.day-pass-section-card li {
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
    align-items: center;
}

.day-pass-section-card li svg{
    margin-right: 16px;
}

@media (max-width: 1290px) {
    .day-pass-section {
        margin: 0 10px;
    }
}

@media (max-width: 999px) {
    .day-pass-section{
        padding: 60px 0;
    }

    .day-pass-section-container {
        flex-direction: column-reverse;
        /* align-items: stretch; */

    }

    .day-pass-section-card {
        max-width: none;
        width: 80%;
        margin: 0 auto;
    }

    .day-pass-section-card button{
        margin: 32px auto 0 auto;
        width: 90%;
    }
}

@media (max-width: 564px) {
    .day-pass-section h2 {
        font-size: 24px;
        letter-spacing: -0.12px;
    }

    .day-pass-section-card h3{
        font-size: 18px;
        
    }
    
    .day-pass-section-card p{
    font-size: 15px;
    }

    .day-pass-section-card li {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .day-pass-section-container{
        padding: 40px 0px;
    }

    .day-pass-section-card {
        width: 80%;
        padding: 20px;
        margin: 0 auto;
    }
}